h1 {
	text-align: center;
}
.first-box {
	height:20px;
	background-color: red;
}
.second-box {
	width:1000px;
	height:200px;
	padding:50px;
	margin:150px;
	background-color: green;
}
.fun {
	width:500px;
	height:20px;
	margin-left:900px;
	margin-top:200px;
}
	
